/* body {
    background-image: url(images/backgrond.jpg);
} */

h1 {
    color: white;
}

#username {
    border-radius: 12px;
}

#searchContainer {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 140px;
    background-image: url(images/backgrond.jpg);
    background-position: center, center;
    background-size: cover;
}

input {
    height: 50px;
    width: 600px;
    font-size: 20px;
    border: solid white;
    background-color: transparent;
    padding-left: 20px;
}

input, select, textarea {
    color: white;
    }

#submitButton {
    position: relative;
    border: none;
    height: 50px;
    width: 100px;
    font-size: 20px;
    padding: 12px, 29px;
    border-radius: 12px;
}

#submitButton:hover {
    background-color: #4de8f4;
    border: solid #ff3e9e;
}

/* box designs */
.serviceBox {
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;    
    padding-top: 20px;
    padding-left: 30px;
    background-color: white;
}

/* #accBox {
    
} */

.bioBox {
    height: 100px;
    width: 1114px;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;  
    padding-top: 10px;
    padding-left: 30px;  
}

#profilePic {
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;    
    padding-top: 20px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-size: 370px 370px;
}

#usernameTopDisplay {
    background-color: white;
    margin: auto;
    font-size: 30px;
    width: 250px;
}

